.ant-advanced-search-form {
    background: #ffffff;
    padding: 12px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    .ant-form-item {
        margin-bottom: 0;
    }
}